$primary-color-violet: hsl(257, 40%, 49%);
$primary-color-soft-magenta: hsl(300, 69%, 71%);
$font-color: #fff;
$btn-text-color: $primary-color-soft-magenta;

$font-heading: "Poppins", sans-serif;
$font-body: "Open Sans", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 600,
);
